<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h1>COMPNY PROFILE</h1>

    <h1>hello <%= data.name %></h1>


    <h2>Create new employees</h2>
    <input
      type="text"
      style="display: none"
      id="id"
      value="<%= data.registerId  %>"
    />
    <label for="fname">First Name:</label> <br />
    <input type="text" name="fname" id="fname" /> <br />
    <label for="lname">Last Name:</label> <br />
    <input type="text" name="lname" id="lname" /> <br />
    <label for="nationalId">national Id:</label> <br />
    <input type="text" name="nationalId" id="nationalId" /> <br />
    <label for="phone">Phone:</label> <br />
    <input type="text" name="phone" id="phone" /> <br />
    <label for="gender">Gender</label> <br />
    <select name="gender" id="gender">
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="other">Rather Not Say</option>
    </select>
    <br />
    <button
      type="button"
      class="btn btn-primary"
      id="createBtn"
      style="margin-top: 5px"
    >
      Create
    </button>

    <hr />
    <hr />
    <h1>employees list</h1>
    <% %>
    <table class="table" id="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">National Id</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone</th>
          <th scope="col">edit</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < employees.length; i++) { %>

        <tr style="cursor: pointer" id=" <%= i+1  %>">
          <th scope="row"><%= i+1 %></th>
          <td id="tableFirstName<%= i+1 %>"><%= employees[i].firstName %></td>
          <td id="tableLastName<%= i+1 %>"><%= employees[i].lastName %></td>
          <td id="tableNationalId<%= i+1 %>"><%= employees[i].nationalId %></td>
          <td id="tableGender<%= i+1 %>"><%= employees[i].gender %></td>
          <td id="tablePhone<%= i+1 %>"><%= employees[i].phone %></td>
          <td>
            <button
              data-bs-toggle="modal"
              data-bs-target="#modal<%= i+1  %>"
              id="<%= employees[i].nationalId %>"
            >
              edit
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <% for (var i = 0; i < employees.length; i++) { %>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modal<%= i+1  %>"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Company</h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="modalfname">Firstname:</label> <br />
            <input
              type="text"
              name="modalfname"
              id="modalfname<%= i+1  %>"
              value="<%= employees[i].firstName %>"
            />
            <br />
            <label for="lname">Lastname:</label> <br />
            <input
              type="text"
              name="lname"
              id="modalLname<%= i+1  %>"
              value="<%= employees[i].lastName %>"
            />
            <br />
            <label for="gender">Gender:</label> <br />
          <select name="gender" id="modalGender<%= i+1  %>">
            <option value="male" selected>Male</option>
            <option value="female" >Female</option>
            <option value="other">Rather not say</option>
          </select>
            <br />
            <label for="phone">Phone:</label> <br />
            <input
              type="text"
              name="Phone"
              id="modalphone<%= i+1  %>"
              value="<%= employees[i].phone %>"
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              onclick="deleteBtn(`<%= employees[i].nationalId %>`)"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              onclick="editBtn(`<%= employees[i].nationalId %>`, `<%= i+1  %>` , `<%= employees[i].company %>`)"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <% } %>

    <script src="/js/employee.js"></script>
  </body>
</html>
